
/*.line-separator{


/*border-radius: 15px;
outline-radius: 15px;

 border: 1px solid rgb(214, 214, 214);
  outline: 2px solid rgb(234, 234, 234);

}
*/

.action{
	background-color: rgb(234, 234, 234);
	height: 100px;
	top: 80px;	
	box-shadow: 0px 0px 0px 1px rgb(220, 220, 220)  inset;
}
.caption{
	padding-bottom: 100px;
	color: rgb(180, 180, 180);
	font-size:90%;
}

.black{
	display: inline;
	color: black;
}

.selected{
	display: block;
    float:right;
    position:relative;
    background-image:  url('../img/selected.gif');

	width: 16px;
	height: 16px;
}

.double-border {
 width: 51%;
 border: rgb(234, 234, 234) solid 6px;
 border-radius:3px;
 height: 520px;
 box-shadow: 0px 0px 0px 1px rgb(220, 220, 220)  inset;
}

.header{
	text-align: center;
	padding-top: 10px;
	margin: 0px auto;
	width: 50%;
	font-family: helvetica;
}

.linksteaser{
border-bottom: 1px dotted #ccc;
padding-bottom: 1px;
}

#separator{
	padding-top: 60px;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;

}

.participants{
	padding-top: 9px;
	padding-left: 20px;
	padding-right: 20px;
	height: 330px;
}

.participants .participant{
	display: block;
	float: left;
	width: 50%;
	margin: 0px auto;
	width: 286px;
	height: 239px;
	font-family: helvetica;
}

.participants .first{
	margin-right: 22px;
	
}

.participants .first .image{
	background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -7px -201px;
	margin-top: 10px;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.participants .first .image:hover{
	-moz-box-shadow: 0 0 3px 3px #ff9c00;
	-webkit-box-shadow: 0 0 3px 3px #ff9c00;
	box-shadow: 0 0 3px 3px #ff9c00;
	cursor: pointer;
}

.participants .second .image:hover{
	-moz-box-shadow: 0 0 3px 3px #ff9c00;
	-webkit-box-shadow: 0 0 3px 3px #ff9c00;
	box-shadow: 0 0 3px 3px #ff9c00;
	cursor: pointer;
}

.participants .second .image{
	background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -330px -201px;
	margin-top: 10px;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;

	float: right;
}


.vote-icon{
	padding-top: 7px;

	background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -2px -2px;
	width: 36px;
	height: 36px;
	float: left;
}


.header-text{
float: left;
padding-left: 5px;
}

.close-image{
    display: block;
    float:right;
    position:relative;
    top:-21px;
    right: -26px;
    background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -1px -100px;
	width: 39px;
	height: 42px;
}​


