
.action{
	background-color: rgb(234, 234, 234);	
	box-shadow: 0px 0px 0px 1px rgb(220, 220, 220)  inset;
	margin-left: -20px;
	width: 635px;
	height: 70px;
}
.caption{
	color: rgb(180, 180, 180);
	font-size:90%;
	height: 20px;
	padding-top: 5px;
}

.black{
	display: inline;
	color: black;
}

.selected{
	-moz-box-shadow: 0 0 4px 4px #ff9c00;
	-webkit-box-shadow: 0 0 4px 4px #ff9c00;
	box-shadow: 0 0 4px 4px #ff9c00;
}

.double-border {
 border: rgb(234, 234, 234) solid 6px;
 border-radius:3px;
 box-shadow: 0px 0px 0px 1px rgb(220, 220, 220)  inset;
 width: 595px !important;
}

.header{
	text-align: center;
	padding-top: 10px;
	margin: 0px auto;
	width: 50%;
	font-family: helvetica;
}

.linksteaser{
border-bottom: 1px dotted #ccc;
padding-bottom: 1px;
}

#separator{
	
	margin: 0px auto;
	padding-bottom: 20px;
	padding-top: 10px;
}

.participants .participant{
	display: block;
	width: 286px;
	height: 239px;
	font-family: helvetica;
}


.participants .first .image{
	background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -7px -201px;

	margin-top: 5px;
}


.participants .first .image:hover{
	
	cursor: pointer;
}

.participants .second .image:hover{
	
	cursor: pointer;
}

.participants .second .image{
	background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -330px -201px;

	
	margin-top: 5px;
}

.not-selected{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}


.vote-icon{
	padding-top: 7px;

	background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -2px -2px;
	width: 36px;
	height: 36px;
	float: left;
}


.header-text{
float: left;
padding-left: 5px;
padding-top: 8px;
}

.close-image{
    display: block;
    float:right;
    position:relative;
    top:-21px;
    right: -46px;
    background-image:  url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -1px -100px;
	width: 39px;
	height: 42px;
}​


