<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>BBB</title>

  <link href="css/result.css" rel="stylesheet">

  <link href="css/bootstrap.min.css" rel="stylesheet">
   

</head>
<body>
<br/>
<div class="double-border container-fluid span8">
	<div class="row">
	 	<div class="close-image"> </div>
	 	<div id="header" class="header">
			<div class="vote-icon"></div>
			<div class="header-text">
				<p>QUEM DEVE SER <strong>ELIMINADO</strong>?</p>
			</div>
		</div>
	</div>
	<div id="separator">
		<div class="linksteaser"></div>
		<div class="linksteaser"></div>
		<div class="linksteaser"></div>
		<div class="linksteaser"></div>
		<div class="linksteaser"></div>
	</div>

	<div class="row msg"><strong>Parabéns! Seu voto para o Participante <%= vote %> foi enviado com sucesso.</strong> </div>

<div id="percentage" align="center" perc="<%= percentage %>" time="<%= time_left%>"  ><p><%= percentage %>%</p></div>
	<div class="participants row">
			
			<div id="votes" align="center" ></div>
			<div class="participant first span4">
				<div class="participant image first ">
					<div class="selected" style="display:none"></div>
				</div>
				
			</div>
			<div class="participant second span4">
				<div class="participant image second ">
					<div class="selected" style="display:none"></div>
				</div>
			</div>
	</div>
<br/>
</div>


</body>

 <script type="text/javascript" src="js/jquery.min.js"></script>
 <script type="text/javascript" src="js/raphael.min.js"></script> 
 <script type="text/javascript" src="js/result.js" ></script>

</html>